*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font:  14px Arial,sans-serif;
}
html{
    height:100%;
    background-color:#80ffff;
}

#calculator{
    margin: 15px auto;
    width:330px;
    height:400px;
    border: 1px solid lightgray;
    background-color:darkgrey;
    padding:15px;
}

/*LOGO*/
.LOGO{
    height:20px;

}
.LOGO .name{
    float:left;
    line-height:30px;
}
.LOGO .verson{
    float:right;
    line-height:30px;
}
/*screen*/
#shuRu{
    margin-top:15px;
}
.screen{
    margin-top:5px;
    width:300px;
    height:40px;
    text-align: right;
    padding-right:10px;
    font-size:20px;
}
#keys{
    border:1px solid lightgray;
    height:223px;
    margin-top:25px;
    padding:8px;
}
#keys .last{
    margin-right:0px;
}
.footer{
    margin-top:20px;
    height:20px;
}
.footer .link{
    float:right;
}

#keys .buttons{
    float:left;
    width: 42px;
    height: 36px;
    text-align:center;
    background-color:lightgray;
    margin: 0 17px 20px 0;